* {
  padding: 0;
  font-family: sans-serif;
}

#contact {
  background-color: #f9f9f9;

  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  color: rgb(41, 41, 218);
  font-size: 38px;
}

#contact h3 {
  text-align: center;

  color: rgb(41, 41, 218);
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 25%;
}

#contact form label {
  font-size: 20px;

  color: rgb(41, 41, 218);
}

#contact form input,
#contact form textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border-color: #ffd700;
}

#contact form button {
  background-color: #ffd700;
  color: white;
  border: none;

  cursor: pointer;
  transition: 0.7s ease;
  font-size: 15px;
  padding: 7px;
  border-radius: 8px;
}

#contact form button:hover {
  background-color: #e94560;
}
